{% extends 'base.html' %}
{% block title %}
Основная страница
{% endblock %}
{% block body %}
<div>
    <a style="min-width: 150px; width: 27%; height: 350px; margin-left: 9% ;" class="btn btn-lg btn-secondary fw-bold border-black bg-black" href="/soiskatel" >Соискатель</a>
    <a style="min-width: 150px; width: 27%; height: 350px;" class="btn btn-lg btn-secondary fw-bold border-black bg-black" href="/rabotodatel" >Работадатель</a>
    <a style="min-width: 150px; width: 27%; height: 350px;" class="btn btn-lg btn-secondary fw-bold border-black bg-black" href="/gosrabotnik" >Гос.Работник</a>
</div>
{% endblock %}