{% extends 'base.html' %}

{% block title %}
Основная страница
{% endblock %}
{% block body %}
<center><h2>Главная страница</h2></center>
<br>
<br>
<main class="container px-3">
    <p class="center lead">Предоставленная нашей командой карта поможет вам в трудоустройстве, показав доступные на данный момент вакансии.</p>
    <p class="lead">
        <br>
    <br>
    <center><a href="#" class="btn btn-lg btn-secondary fw-bold border-black bg-black">К карте!</a></center>
    <br>
    <center><a href="auth" class="btn btn-lg btn-secondary fw-bold border-black bg-black">Авторизация!</a></center>
    <br>
    <center><a href="registration" class="btn btn-lg btn-secondary fw-bold border-black bg-black">Регистрация!</a></center>

</main>
{% endblock %}