{% extends 'base.html' %}

{% block title %}
Заполнение акеты соискателя
{% endblock %}
{% block body %}
<center><h3>Анкета соискателя</h3></center>
<center><h5>Шаг 1. Заполните анкету соискателя</h5></center>
<br>
<right><h5><pre>    Информация о себе</pre></h5></right>
<textarea name="soickatel_o_sebe" id="soickatel_o_sebe" class="form-control" placeholder="Введите информацию о себе"></textarea><br>
<right><h5><pre>    Информация о том, что ищу</pre></h5></right>
<textarea name="soickatel_o_iskomom" id="soickatel_o_iskomom" class="form-control" placeholder="Введите информацию о том, что вы ищите"></textarea><br>
<br>
<br>
<br>
<a href="/poisk_vakansii"><font color="#000000"><h5>К поиску вакансии</h5></font></a>

{% endblock %}